In [2]:
import sqlalchemy
import pandas as pd

In [4]:
engine = sqlalchemy.create_engine('sqlite:///sql_test.db', echo=True)
sqlite_connection = engine.connect()

In [5]:
df = pd.DataFrame([[1,2,3],
                   [4,5,6],
                   [7,8,9]], columns=['A', 'B', 'C'])

In [15]:
sqlite_table = "Covid19"
df.to_sql(sqlite_table, sqlite_connection, if_exists='replace', index=False)

2022-05-18 10:31:53,714 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Covid19")
2022-05-18 10:31:53,721 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-18 10:31:53,725 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Covid19")
2022-05-18 10:31:53,728 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-18 10:31:53,729 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-05-18 10:31:53,729 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-18 10:31:53,730 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Covid19")
2022-05-18 10:31:53,731 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-18 10:31:53,731 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-05-18 10:31:53,732 INFO sqlalchemy.engine.Engine [raw sql] ('Covid19',)
2022-05-18 10:31:53,733 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Covid19")
2022-05-18 10:31:53,733 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-18 10:31:53,734 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("Covid19")
2022-05-18 10:31:53,734 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-18 10:31:53,734 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-05-18 10:31:53,735 INFO sqlalchemy.engine.Engine [raw sql] ('Covid19',)
2022-05-18 10:31:53,736 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Covid19")
2022-05-18 10:31:53,736 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-18 10:31:53,737 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_Covid19_index")
2022-05-18 10:31:53,737 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-18 10:31:53,737 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Covid19")
2022-05-18 10:31:53,738 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-18 10:31:53,738 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_Covid19_index")
2022-05-18 10:31:53,738 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-18 10:31:53,739 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-05-18 10:31:53,739 INFO sqlalchemy.engine.Engine [raw sql] ('Covid19',)
2022-05-18 10:31:53,741 INFO sqlalchemy.engine.Engine
DROP TABLE "Covid19"
2022-05-18 10:31:53,741 INFO sqlalchemy.engine.Engine [no key 0.00040s] ()
2022-05-18 10:31:53,743 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 10:31:53,744 INFO sqlalchemy.engine.Engine
CREATE TABLE "Covid19" (
	"A" BIGINT,
	"B" BIGINT,
	"C" BIGINT
)


2022-05-18 10:31:53,744 INFO sqlalchemy.engine.Engine [no key 0.00033s] ()
2022-05-18 10:31:53,746 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 10:31:53,747 INFO sqlalchemy.engine.Engine INSERT INTO "Covid19" ("A", "B", "C") VALUES (?, ?, ?)
2022-05-18 10:31:53,748 INFO sqlalchemy.engine.Engine [generated in 0.00046s] ((1, 2, 3), (4, 5, 6), (7, 8, 9))
2022-05-18 10:31:53,749 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 10:31:53,750 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-05-18 10:31:53,750 INFO sqlalchemy.engine.Engine [raw sql] ()

3

In [9]:
cursor = sqlite_connection.execute('select * from Covid19')

2022-05-18 10:30:02,273 INFO sqlalchemy.engine.Engine select * from Covid19
2022-05-18 10:30:02,276 INFO sqlalchemy.engine.Engine [raw sql] ()

In [11]:
cursor.fetchall()

[(0, 1, 2, 3), (1, 4, 5, 6), (2, 7, 8, 9)]

In [16]:
pd.read_sql('select * from Covid19', con=engine, index_col=None)

2022-05-18 10:31:59,526 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("select * from Covid19")
2022-05-18 10:31:59,531 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-18 10:31:59,536 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("select * from Covid19")
2022-05-18 10:31:59,538 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-18 10:31:59,539 INFO sqlalchemy.engine.Engine select * from Covid19
2022-05-18 10:31:59,540 INFO sqlalchemy.engine.Engine [raw sql] ()

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9